@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');


/* Pendencias no codigo  */


* { margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root { 
    --text-primary: #fff;
    --text-secundary: #000;
    --font-heading: 'Poppins';
    --font-default: 'Montserrat';
    font-size: 62.5% /* 10 dividido por 16*/
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default);
    color: var(--text-primary);

}

/* Aula 4 */
#hamburguer{
    position: fixed;
    right: 2rem;
    top: 2rem;
    height: 3rem;
    width: 3rem;

}

#hamburguer .linha{
height: .5rem;
width: 100%;
background-color: #fff;
box-shadow: 0 .2rem .2rem #000;
}

.menu-show{
    right: 0;
}

nav {
    align-items: center;
    justify-content: center;
    position: fixed;
    display: flex;
    background-color: #fff;
    height: 100vh;
    width: 20rem;
    z-index: 10;
    right: -20rem;
    transition: right 0.5s;
}

/* Para tirar o sublinhado o a e tirar a bolinha na lista */
nav a{
    text-decoration: none;
    font-size: 1.6rem;
    color:var(--text-secundary);
}


nav li{
    list-style: none;
}

nav a:hover{
    color: #6a3093;
}


header {
    color: var(--text-primary);
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    height: 100vh;
    padding-top: 42.5rem;
    padding-left: 2.75rem;
    overflow: hidden;
    position: relative;
    gap: 1.75rem;
    
    

}
header::before {
    background-position-y: 100%;
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-image: url(../imagens/inicio.jpg);
    animation: zoom 5s;

}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
            transform: scale(1);
        }
    }



#avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    /* como deixa redondo*/

}

h1,h2,h3,h4 {
    
    font-weight: 900;
    font-family: var(--font-heading);
    
}

h1{
    font-size: 5rem;
    padding-top: 3.12rem;

}

h2 {
   
    font-size: 3rem;
}

span{
    font-size: 4.2rem;
   
}

p{
    font-size: 3rem;
}

.botao {
    margin: 10px;
    padding: 10px;
    color: #000;
    font-size: 1.5rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    /* para deixa tudo em letra maiscula! */
    text-decoration: none;
    background: linear-gradient(90deg, #ec970f, #fff );
    padding: 1rem 2rem;
    border-radius: 7px;
    
}

.botao:hover{
    
    color:#000000;
    opacity: .50;
}



/* flex box*/
section{
    display: flex;
    gap: 2rem;
    padding: 7rem;
    background-color: #8f7575;
    background-image: url();
    
}

div {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

 #secao-decards{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #212121;    
    
}
#secao-decards ul{
    display: flex;
    gap: 15rem;
    /* 2.rem fica tudo coladinho mudar o gap para definir os tamanhos */
    color: var(--text-primary);
} 

#secao-decards li{
    list-style: none;
}

.card {
    width: 5rem;
    height: 62rem;
    position: relative;
    cursor: pointer;
}

.card-fundoyugi {
    width: 100%;
    height: 100%;
    background-color:#212121;
    /* mudar a cor aqui depois quando mudar o fundo da pag */
    border-radius: 1rem;
    
}

.card-fundoyugi img {
    object-fit: cover;
    width: 150px;
    height: 218px;
    opacity: 0.8;
    transition: opacity 0.3s;
          
}


.card-fundoyugi:hover .imagemfront {
    background-color: rgb(147, 3, 249);

}

.cardtexto{
position: absolute;
bottom: -2rem;
opacity: 0;
padding: 0.7rem;
text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
transition: all 0.3s;

}
.card:hover .cardtexto{
    
        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    opacity: 1;
    bottom: 1;
    
}


 @-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  

#secao-decards h3{
    font-family: var(--font-default);
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.3rem;
    color:#ec970f
}

#secao-decards p{
    font-size: 2.5rem;
}

/* aula 3 */
#secao-orcamento{
    height: 100vh;
<<<<<<< HEAD:assets/css/style.css
    background: url(../imagens/fundo.jpg);
=======
    background: url(fundo.jpg);
>>>>>>> 5dd5de3726fae78bfb05af5b0c9afddd59359796:style.css
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;

}
#secao-orcamento form{
    display: grid;
    /* organizando o bloco em grid */
    grid-template-columns: 1fr auto;
    /* igual a 1fr 1fr ou repeat (1,2) */
    row-gap: 1.5rem;
    font-size: 2.5rem;
    justify-items: start;
    background-color: rgba(0,0,0,1);
    opacity: .5; 
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 4rem;
 
}

#secao-orcamento form h3{    
    background-color: #6a3093;
    color: var(--text-primary);
    position: absolute;
    top: -10%;
    left: 5%;
    padding: 1rem 3rem;
    border-radius: 10px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    padding: 0 1rem;
    align-items: center;
}

input[type=text],
input[type=number]
{
    font-size: 2rem;
    outline: none;
    padding: 1rem;
    border-radius: 7px;
    border: 0;
}


#secao-orcamento form output {
    grid-column: 2;

}

